{% extends "commons/base.html" %}
{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Quien entrega</td>
            <td>Quien recibe</td>
            <td>Fecha</td>
            <td>
                <div class="button-group text-right"><a href="{% url 'checklist:create' %}"><button type="button"
                            class="btn btn-primary">Chequear</button></a></div>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{object.deliver}}</td>
            <td>{{object.receiver}}</td>
            <td>{{object.check_date}}</td>
            <td><div class="button-group text-right"><a href="{% url 'checklist:checked_product_list' %}"><button
                class="btn btn-primary">Listar Productos</button></a></div></td>

        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}