{% extends "commons/base.html" %}
{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Codigo</td>
            <td>Descripción</td>
            <td>Presentación</td>
            <td>Cantidad por Corrugada</td>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td><a href="{% url 'product:update' object.pk %}">{{object.code}}</a></td>
            <td>{{object.description}}</td>
            <td>{{object.presentation}}</td>
            <td>{{object.corrugated_quantity}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}