{% extends "product/base.html" %}

{% block content %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{form.code}}
    {{form.description}}
    <div class="row">
        <div class="col-md-4">
            {{form.presentation}}
        </div>
        <div class="col-md-4">
            {{form.corrugated_quantity}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Agregar</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'product_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Atrás
            </a>
        </div>
    </div>
</form>
{% endblock content %}